# =====================
# Node Modules
# =====================
node_modules/
**/node_modules/

# =====================
# Environment Files
# =====================
# Environment Files
.env
**/.env
.env.local
.env.development
.env.production
.env.test


# =====================
# Build Files
# =====================
dist/
build/
**/dist/
**/build/

# =====================
# Logs
# =====================
logs/
*.log
npm-debug.log*

# =====================
# OS Files
# =====================
.DS_Store

# =====================
# Coverage
# =====================
coverage/

# =====================
# Docker
# =====================
docker-data/